.disabled {
    color: grey;
    pointer-events: none;
}

.pagination {
    padding: 20px;
    text-align: right;
    align-items: center;
    justify-content: right;
    border-bottom: 2px solid #ff742b;
}

.link {
    color: #ff742b;
}

.seperator {
    margin: 15px;
}